node_modules
dist
coverage
.awcache
test-report.*
junit.xml
*.log
*.orig
.awcache
public

# Cypress
cypress/videos
cypress/screenshots
cypress/downloads

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
